footer.footer
    .box
        .footer__body
            .footer__info Оптовая продажа автоаксессуаров, инструментов и ароматизаторов в России и странах СНГ
            .footer__copirate © 2009, ООО ТД Беру
