append content
    -
        var links = [
        'home.html',
        'about.html',
        'action-detail.html',
        'action.html',
        'brands.html',
        'catalog.html',
        'contacts.html',
        'news-detail.html',
        'news.html',
        'partners.html',
        'product-detail.html',
        'produts.html',
        'shipping.html',
        ]
    .box(style="color: #333")
        ul
            each item in links
                li
                    a(href=item)=item