body
  margin: 0
  font-weight: normal
  font-size: 16px
  color: #000000
  font-family: 'Open Sans', sans-serif

  & *
    margin: 0
    padding: 0
    border: 0
    outline: 0
    background-color: transparent
    box-sizing: border-box

a
  text-decoration: none
  transition: .3s
  color: inherit

ul
  list-style: none

img
  max-width: 100%

button
  cursor: pointer

label
  cursor: pointer

section
  flex-grow: 1

select, input, textarea
  appearance: none
  border-radius: 0
  background-color: transparent

.content-wrapper
  min-height: 100vh
  display: flex
  flex-direction: column

.page-wrapper
  flex: 1 1

.footer-wrapper
  flex: 0 1

.box
  width: 100%
  display: flex
  max-width: 1200px
  padding: 0 30px
  margin: 0 auto
  position: relative

  @include media( 1600 )
    max-width: 1024px
    padding: 0px 15px

  &.wrap
    flex-wrap: wrap


.row
  min-width: 100%
  display: flex
  margin: 0 -30px

.pages-title
  width: 100%
  color: #1a2533
  font-family: "Open Sans"
  font-size: 24px
  font-weight: 600
  padding-bottom: 15px
  width: 100%
  margin-top: 15px
  border-bottom: 1px solid #1a2533
  margin-bottom: 30px

.come-back-btn
  display: flex
  width: 169px
  height: 35px
  background-color: #1a2533
  justify-content: center
  align-items: center
  color: #ffffff
  font-family: "Open Sans"
  font-size: 13px
  font-weight: 700
  text-transform: uppercase
  margin-bottom: 60px

  & img
    margin-right: 5px

.send-msg-btn
  display: flex
  width: 270px
  height: 50px
  background-color: #1a2533
  justify-content: center
  align-items: center
  color: #ffffff
  font-family: "Open Sans"
  font-size: 13px
  font-weight: 700
  text-transform: uppercase
  margin-bottom: 60px
  
.change-background
  background-color: #e6e6e6

.label
  position: relative
  box-shadow: 0 2px 10px rgba(183, 183, 183, 0.5)
  background-color: #ffffff

  & label
    position: absolute
    top: 17px
    left: 15px
    z-index: 1
    color: #3a4e5f
    font-family: "Open Sans"
    font-size: 14px
    font-weight: 600
    line-height: 13px

    & span
      color: #fe1818

.input
  position: relative
  z-index: 2
  padding: 0px 15px
  color: #3a4e5f
  font-family: "Open Sans"
  font-size: 14px
  font-weight: 600

.styled-checkbox
  display: flex
  width: 100%
  position: relative

  & .checbox-custom-text
    color: #3a4e5f
    font-family: "Open Sans"
    font-size: 11px
    font-weight: 600
    line-height: 13px
    display: flex

  & .checkbox-default
    display: none

  & .checkbox-custom
    width: 14px
    height: 14px
    display: flex
    border-radius: 3px
    border: 2px solid #ff0000
    justify-content: center
    align-items: center
    flex-shrink: 0
    margin-right: 8px
    position: relative
  
.checkbox-default:checked + .checkbox-custom::before
      content: ""
      width: 14px
      height: 14px
      display: flex
      position: absolute
      background-repeat: no-repeat
      background-image: url(../img/check-box.svg)
      left: 0px